<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Nós entregamos maravilhosas experiências digitais.</h2>
          <p>Contate-nos e torne sua empresa referência no marketing digital. Esta é a hora certa para decolar em seu segmento e ser um grande case de inovação.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.url }}/contact/" >Conte seu desafio</a>
        </div>
      </div>
    </div>
  </div>
</section>