<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Contact us and make your company reference in digital marketing. This is the right time to take off in your segment and be a great innovation case.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.url }}/en/contact" >Tell Us Your Challenge</a>
        </div>
      </div>
    </div>
  </div>
</section>