<!-- Header Start -->
{% include base.html %}
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            {% if page.language == 'pt' %}
            <a href="{{ site.url }}" class="navbar-brand">
                <img src="{{ site.url }}/img/logo.png" alt="Logo" height="80">
            </a>
            {% endif %}
            {% if page.language == 'en' %}
            <a href="{{ site.url }}/en" class="navbar-brand">
                <img src="{{ site.url }}/img/logo.png" alt="Logo" height="80">
            </a>
            {% endif %}
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <nav class="nav navbar-nav navbar-right">
                {% assign pages = site.pages | sort: "nav-order" %}
                {% for p in pages %}
                    {% if p.language == page.language %}
                        <a href="{{ p.url | prepend: site.baseurl }}" class="menu {% if p.url == page.url %}active{% endif %}">{{ p.title }}</a>
                    {% endif %}
                {% endfor %}
                <div class="navbar-lang">
                    {% if page.name contains "index" %}
                    <a href="{{ site.url | append: "/en" }}" class="lang-switch {% if page.language == 'en' %}active{% else %}inactive{% endif %}">EN</a>
                    <a href="{{ site.url | append: "/" }}" class="lang-switch {% if page.language == 'pt' %}active{% else %}inactive{% endif %}">PT</a>
                    {% else %}
                    <a href="{{ site.url | append: "/en" | append: page.handle }}" class="lang-switch {% if page.language == 'en' %}active{% else %}inactive{% endif %}">EN</a>
                    <a href="{{ site.url | append: page.handle }}" class="lang-switch {% if page.language == 'pt' %}active{% else %}inactive{% endif %}">PT</a>
                    {% endif %}
                </div>
              </nav>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
