@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Volkhov:400italic);
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.otf');
}
/* var text-decoration */
/* Common CSS */
body{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}
@mixin fonte($size, $weight) {
    font: {
        size: $size;
        weight: $weight;
    }
}
h2 {
    @include fonte(30px, 400);
}
h3 {
    @include fonte(28px, 300);
}
p {
    font-size: 15px;
    line-height: 28px;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none !important;
    &.active {
        color: #5a335d;
    }
}
.section-title {
    margin-bottom: 70px;
    h2 {
        text-transform: uppercase;
        @include fonte(28px, 600)
    }
    p {
        font: {
            family: 'Volkhov', serif;
            style: italic;
        }
        color: #666;
    }
}

.hide {
    display: none;
}
/* Header */
@import 'header';

/* Index Start */
/* Slider Start */
#slider {
    background: url("../img/slider-bg.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 10% 0%;
    padding: 200px 0 280px 0;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left,#8b86a3, #322e40);
        opacity: 0.8;
    }
    .block {
        color:#e3e3e4;
        h1{
            font: {
                family: 'Roboto', sans-serif;
                weight: 100;
                size: 45px;
            }
            line-height: 60px;
            letter-spacing: 10px;
            padding-bottom: 45px;
        }
        p{
            font: {
                size: 23px;
                family: 'Roboto', sans-serif;
                weight: 300;
            }
            line-height: 40px;
            letter-spacing: 3px;
        }
    }
}
/* Wrapper Start */
#intro {
    padding: 100px 0;
    .block {
        h2{
            padding-top: 35px;
            line-height: 27px;
            margin: 0;
        }
        p {
            color: #7b7b7b;
            padding-top: 20px;
        }
        img {
            padding-left: 40px;
            width: 100%;
        }
    }
    .section-title {
        margin-bottom: 0px;
        p {
            padding-top: 20px;
        }
    }
}
/* Service Start */
#service {
    background: url("../img/services-bg.jpg") no-repeat;
    background: {
        size: cover;
        attachment: fixed;
    }
    position: relative;
    padding: 70px 0;
    color: #fff;
    text-align: center;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #1a0d3c;
        opacity: 0.6;
    }
    .btn-service {
        padding: 15px 35px;
        border: none;
        background-color: #fff;
        font-size: 15px;
        color: #333333;
        margin-top: 30px;
    }
}
/* Service page */
#service-page {
    text-align: center;
    padding: 70px 0;
    .service-item {
        padding-bottom: 30px;
        i {
            font-size: 60px;
            color: #4a4656;
        }
        h4 {
            padding-top: 20px;
            margin: 0;
            color: #666;
        }
        p {
            color: #888;
            padding-top: 10px;
            margin: 0;
            font-size: 14px;
            line-height: 1.8;
        }
    }
}

/* Call-to-action Start */
#call-to-action {
    background: url("../img/call-to-action-bg.jpg") no-repeat;
    background: {
        size: cover;
        attachment: fixed;
    }
    padding: 70px 0px;
    position: relative;
    text-align: center;
    color: #fff;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #1d192c;
        opacity: 0.8;
        }
    h2 {
        padding-bottom: 20px;
        line-height: 33px;
        margin: 0;
        font-size: 30px;
    }
    p {
        font-size: 14px;
        line-height: 1.6;
    }
    .btn-call-to-action {
        padding: 15px 35px;
        border: none;
        background-color: #fff;
        font-size: 15px;
        color: #333333;
        margin-top: 30px;
    }
}
/* Feature Start */
#feature {
    background: url("../img/featue-bg.jpg");
    background: {
        position: 50% 94px;
        attachment: fixed;
        repeat: no-repeat;
        position: center center;
        color: #fff;
        size: cover;
    }
    width: 100%;
    display: block;
    position: relative;
    overflow: visible;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 100px 0;
    h2 {
        font: {
            size: 28px;
            weight: 600;
        }
        margin-bottom: 30px;
    }
    p {
        color: #8d8f92;
        margin-bottom: 20px;
    }
    .btn-view-works {
        background: #655e7a;
        color: #fff;
        padding: 10px 20px;
    }
}
/* Content Start */
#testimonial {
    padding: 100px 0;
    .block {
        h2 {
            line-height: 27px;
            color: #5c5c5c;
            padding-top: 110px;
        }
        p {
            padding-top: 50px;
            color: #7b7b7b;
        }
    }
    .counter-box li {
        width: 50%;
        float: left;
        text-align: center;
        margin: 30px 0 30px;
        i {
            font-size: 35px;
        }
        h4 {
            font: {
                size: 30px;
                weight: bold;
            }
        }
        span {
            color: #555;
        }
    }
    .testimonial-carousel {
        text-align: center;
        width: 75%;
        border: 1px solid #dedede;
        padding: 24px;
        margin: 0 auto;
        img {
            padding-bottom: 38px;
        }
        p {
            line-height: 28px;
            font-weight: 300;
            padding-bottom: 20px;
        }
        .user {
            img{
                padding-bottom: 0px;
                border-radius: 500px;
            }
            p{
                padding-bottom: 0;
                font-size: 12px;
                line-height: 20px;
                color: #353241;
                span {
                    display: block;
                    color: #353241;
                    font-weight: 600;
                }
            }
        }
        .owl-carousel {
            .owl-pagination {
                div {
                    border: 1px solid #1d1d1d;
                    border-radius: 500px;
                    display: inline-block;
                    height: 10px;
                    margin-right: 15px;
                    width: 10px;
                    }
                div.active {
                    background: #5c5c5c;
                    font-size: 30px;
                    display: inline-block;
                    border: 0px;
                }
                }
            }
        }
    }
/* Features Start - Clients */
#clients-logo-section {
    padding: {
        top: 30px;
        bottom: 75px;
    }
    .clients-logo-img {
        padding: 0px 50px;
    }
}
/* Work Start
 *
 * Slider-work Start*/
#global-header {
    background: url("../img/slider-bg.jpg") no-repeat;
    background: {
        size: cover;
        attachment: fixed;
    }
    padding: {
        top: 150px;
        bottom: 107px;
    }
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, #928dab, #1f1c2c 70%);
        opacity: 0.8;
    }
    .block {
        color: #e3e3e4;
        margin: 0 auto;
        padding-left: 90px;
        text-align: center;
        h1 {
            font: {
                weight: 100;
                size: 45px;
            }
            letter-spacing: 6px;
            padding-bottom: 15px;
            margin-top: 0;
            text-transform: capitalize;
        }
        p {
            font: {
                size: 16px;
                weight: 300;
            }
            letter-spacing: 1px;
            word-spacing: 3px;
        }
    }
}
/* Portfolio-work Start */
#portfolio-work {
    overflow: hidden;
    padding: 80px 0;
    .block {
        .portfolio-menu {
            padding-bottom: 30px;
            text-align: center;
            ul {
                border: 1px solid #999999;
                display: inline-block;
                margin-bottom: 40px;
                li {
                    display: inline-block;
                    padding: 0px 25px;
                    cursor: pointer;
                    font: {
                        size: 15px;
                        weight: 600;
                    }
                    line-height: 40px;
                    color: #333333;
                    text-transform: capitalize;
                    position: relative;
                    &:hover:before {
                        content: "\f0d7";
                        position: absolute;
                        font: {
                            family: 'FontAwesome';
                            size: 30px;
                        }
                        bottom: -18px;
                        width: 20px;
                        left: 0px;
                        right: 0px;
                        top: 24px;
                        margin: 0 auto;
                        color: #fff;
                        text-shadow: 0 1px 0px rgba(0, 0, 0, 0.9);
                        -webkit-transition: all 0.4s ease-in-out;
                        -moz-transition: all 0.4s ease-in-out;
                        -o-transition: all 0.4s ease-in-out;
                        -ms-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;
                    }
                }
                .active {
                    color: #655e7a;
                    position: relative;
                    &:before {
                        content: "\f0d7";
                        position: absolute;
                        font: {
                            family: 'FontAwesome';
                            size: 30px;
                        }
                        bottom: -18px;
                        width: 20px;
                        left: 0;
                        right: 0;
                        top: 23px;
                        margin: 0 auto;
                        color: #fff;
                        text-shadow: 0 1px 0px rgba(0, 0, 0, 0.9);
                        -webkit-transition: all 0.4s ease-in-out;
                        -moz-transition: all 0.4s ease-in-out;
                        -o-transition: all 0.4s ease-in-out;
                        -ms-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;
                    }
                }
            }
        }
        .portfolio-contant {
            ul {
                li {
                    float: left;
                    width: 32.22%;
                    overflow: hidden;
                    margin: 6px;
                    position: relative;
                    &:hover .overly {
                        opacity: 1;
                    }
                    &:hover .position-center {
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translate(0%, -50%);
                        -moz-transform: translate(0%, -50%);
                        -ms-transform: translate(0%, -50%);
                        transform: translate(0%, -50%);
                    }
                    a {
                        display: block;
                        color: #fff;
                        h2 {
                            font-size: 22px;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                        }
                        p {
                            font-size: 15px;
                        }
                        span {
                            font: {
                                style: italic;
                                size: 13px;
                            }
                            color: #655e7a;
                        }
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .overly {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background: rgba (0, 0, 0, 0.9);
                opacity: 0;
                -webkit-transition: .3s all;
                -o-transition: .3s all;
                transition: .3s all;
                text-align: center;
            }
            .position-center {
                position: absolute;
                top: 50%;
                left: 10%;
                -webkit-transform: translate(0%, 50%);
                -moz-transform: translate(0%, 50%);
                -ms-transform: translate(0%, 50%);
                transform: translate(0%, 50%);
                -webkit-transition: .5s all;
                -o-transition: .5s all;
                transition: .5s all;
            }
        }
        .mix {
            display: none;
        }
    }
}
/* Wrapper-work Start */
#wrapper-work {
    overflow: hidden;
    padding-top: 100px;
    ul {
        li {
            width: 50%;
            float: left;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
            .items-text {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                color: #fff;
                background: rgba (0, 0, 0, 0.6);
                padding: {
                    left: 44px;
                    top: 140px;
                }
                h2 {
                    padding: {
                        bottom: 28px;
                        top: 75px;
                    }
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 75px;
                        height: 3px;
                        background: #fff;
                    }
                }
                p {
                    padding: {
                        top: 30px;
                        right: 80px;
                    }
                    font: {
                        size: 16px;
                        weight: 300;
                    }
                    line-height: 27px;
                }
            }
        }
    }
}
/* Features-work Start */
#features-work {
    padding: {
        top: 50px;
        bottom: 75px;
    }
    .block {
        ul {
            li {
                width: 19%;
                text-align: center;
                display: inline-block;
                padding: 40px 0px;
            }
        }
    }
}
/* Work close
 *
 * Contact Start
 * Slider-contact Start */
#slider-contact {
    background: url("../img/slider-bg.jpg") no-repeat;
    background-size: cover;
    padding: {
        top: 150px;
        bottom: 107px;
    }
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, #928dab, #1f1c2c 70%);
        opacity: 0.8;
    }
    .block {
        color: #e3e3e4;
        margin: 0 auto;
        padding-left: 90px;
        h1 {
            font: {
                family: 'Roboto', sans-serif;
                weight: 100;
                size: 45px;
            }
            line-height: 60px;
            letter-spacing: 6px;
            padding-bottom: 15px;
        }
        p {
            font: {
                size: 23px;
                family: 'Roboto', sans-serif;
                weight: 300;
            }
            line-height: 40px;
            letter-spacing: 1px;
            word-spacing: 3px;
        }
    }
}
/* Contact-form Start */
#contact-form {
    padding: {
        top: 70px;
        bottom: 35px;
    }
    .block {
        form {
            .form-group {
                padding-bottom: 15px;
                margin: 0px;
                .form-control {
                    background: #f6f8fa;
                    height: 60px;
                    border: 1px solid #eef2f6;
                    box-shadow: none;
                    width: 100%
                }
            }
            .form-group-2 {
                padding-bottom: 15px;
                margin: 0px;
                textarea {
                    background: #f6f8fa;
                    height: 135px;
                    border: 1px solid #eef2f6;
                    box-shadow: none;
                    width: 100%;
                }
            }
        }
        button {
            width: 100%;
            height: 60px;
            background: #47424c;
            border: none;
            color: #fff;
            font: {
                family: 'Open Sans', sans-serif;
                size: 18px;
            }
        }
    }
}
/* Wrapper-contact Start */
.address-block li {
    margin-bottom: 20px;
    i {
        margin-right: 15px;
        font-size: 20px;
        width: 20px;
    }
}
.social-icons {
    margin-top: 40px;
    li {
        display: inline-block;
        margin: 0 6px;
    }
    a {
        display: inline-block;
    }
    i {
        color: #2c2c2c;
        margin-right: 25px;
        font-size: 25px;
    }
}
.google-map {
    position: relative;
    #map {
        width: 100%;
        height: 300px;
        background-color: #ff432e;
    }
}
.contact-box {
    padding: {
        top: 35px;
        bottom: 58px;
    }
    .block {
        img {
            width: 100%;
        }
        h2 {
            font: {
                family: 'Open Sans', sans-serif;
                weight: 300;
                size: 28px;
            }
            color: #000;
            padding-bottom: 30px;
        }
        p {
            color: #5c5c5c;
            display: block;
        }
    }
}
/* Features-contact Start */
#features-contact {
    padding: {
        top: 50px;
        bottom: 75px;
    }
    .block {
        ul {
            li {
                width: 19%;
                text-align: center;
                display: inline-block;
                padding: 40px 0px;
            }
        }
    }
}
/* Heading */
.heading {
    padding-bottom: 60px;
    text-align: center;
    h2 {
        color: #000;
        font: {
            size: 30px;
            weight: 400;
        }
        line-height: 40px;
    }
    p {
        font: {
            size: 18px;
            weight: 300;            
        }
        line-height: 40px;
        color: #292929;
    }
}
/* Footer */
@import 'footer';