header {
    background: #fff;
    padding: 10px 0 35px 0;
    .navbar {
        margin-bottom: 0px;
        border: 0px;
    }
    .navbar-brand {
        padding-top: 0px;
        display: inline-block;
    }
    .navbar-default {
        background: none;
        border: 0px;
        .navbar-nav {
            padding-top: 30px;
            a.active {
                font-weight: bold;
                color: #5a335d;
            }
            .navbar-lang {
                display: inline;
                a.active {
                    font-weight: bolder;
                    color: #5a335d;
                }
                a.inactive {
                    color: grey;
                }
            }
            .menu {
                color: #333333;
                padding: 10px 15px;
                font-size: 15px;
                &:hover {
                    color: #000;
                    text-decoration: none;
                }
            }
            .youarehere {
                font-weight: bold;
                color: purple;
            }
            .lang-switch {
                color: #333333;
                border: 1px solid grey;
                border-radius: 15px 5px 7px 7px/ 10px 5px 7px 12px;
                padding: 5px;
                font-size: 15.5px;
                margin: -2px;
            }
        }
    }
}